<!DOCTYPE html>
<html lang="en">
<head>
    <title>꾸러기 9조대</title>
    <meta charset="utf-8">

    <!--아랫줄은 파비콘 추가!-->
    <link rel="icon"
          href="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Kijkwijzer_9.svg/1200px-Kijkwijzer_9.svg.png">

    <!--밑에 3줄은 폰트!-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">

    <!--css 파일 불러오기!-->
    <link href="/static/css/common.css" rel="stylesheet" type="text/css"/>

    <script>

    </script>

</head>

<body style="background-color:rgb(20,20,20);">

<!--h1 class="main-title">꾸러기 <span class="red">9조대</span></h1-->
<img width="100" height="60" src="/static/images/로고.png">

</body>

<h2 align="center" class="intro-ment">내일 배움 캠프 AI 2회차 - 꾸러기 9조대 팀 소개 페이지입니다 </h2>


<div style="width: 1000px; margin: auto;">
    <div class="member-box">
        <div class="container-box">
            <div class="container">
                <div class="item front"><a href="/dongwoo"><img width="100%"
                                                                src="https://avatars.githubusercontent.com/u/68724828?v=4"
                                                                alt="img front"/></a></div>
                <div class="item back"><a href="/dongwoo"><img width="100%"
                                                               src="https://velog.velcdn.com/images/kimphysicsman/post/37e0b81f-7945-4ad3-b719-7c1b87076d83/image.jpg"
                                                               alt="img back"/></a></div>
                <p align="center" class="font-white text-size"> 김동우 </p>
            </div>
        </div>
        <div class="container-box">
            <div class="container">
                <div class="item front"><a href="/heejeong"><img class="img-margin-1" height="100%"
                                                                 src="https://teamsparta.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fa39bbc1b-a750-4b0c-b4db-8a03b190bc07%2F%ED%9E%88%EB%8F%99%EC%9D%B4%EC%82%AC%EC%A7%84.jpg?table=block&id=b8679576-3505-4db5-b450-edffbec171d9&spaceId=83c75a39-3aba-4ba4-a792-7aefe4b07895&width=1780&userId=&cache=v2"
                                                                 alt="img front"/></a></div>
                <div class="item back"><a href="/heejeong"><img class="img-margin-1" height="100%"
                                                                src="https://teamsparta.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fa39bbc1b-a750-4b0c-b4db-8a03b190bc07%2F%ED%9E%88%EB%8F%99%EC%9D%B4%EC%82%AC%EC%A7%84.jpg?table=block&id=b8679576-3505-4db5-b450-edffbec171d9&spaceId=83c75a39-3aba-4ba4-a792-7aefe4b07895&width=1780&userId=&cache=v2"
                                                                alt="img back"/></a></div>

                <p align="center" class="font-white text-size"> 김희정 </p>
            </div>
        </div>
        <div class="container-box">
            <div class="container">
                <div class="item front"><a href="/songhee"><img width="100%"
                                                                src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F0cb3499b-cf0d-42a2-9a8d-12e508961406%2FKakaoTalk_20220418_160240348.jpg?table=block&id=aba2c27f-31cf-45a0-83d4-16b2bdee649f&spaceId=83c75a39-3aba-4ba4-a792-7aefe4b07895&width=2000&userId=34873ddc-da24-4de9-a671-204842864bd3&cache=v2"
                                                                alt="img front"/></a></div>
                <div class="item back"><a href="/songhee"><img width="100%"
                                                               src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F0cb3499b-cf0d-42a2-9a8d-12e508961406%2FKakaoTalk_20220418_160240348.jpg?table=block&id=aba2c27f-31cf-45a0-83d4-16b2bdee649f&spaceId=83c75a39-3aba-4ba4-a792-7aefe4b07895&width=2000&userId=34873ddc-da24-4de9-a671-204842864bd3&cache=v2"
                                                               alt="img back"/></a></div>
                <p align="center" class="font-white text-size"> 원송희 </p>
            </div>
        </div>
        <div class="container-box">
            <div class="container">
                <div class="item front" align="center"><a href="/jinyoung"><img height="100%"
                                                                                src="https://teamsparta.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Faab293e5-e818-4a33-be5f-9e5f209ee76b%2F32154099.jpg?table=block&id=9a6b1aa9-de45-43b4-9361-4d0e1280c2e4&spaceId=83c75a39-3aba-4ba4-a792-7aefe4b07895&width=290&userId=&cache=v2"
                                                                                alt="img front"/></a></div>
                <div class="item back" align="center"><a href="/jinyoung"><img height="100%"
                                                                               src="https://teamsparta.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Faab293e5-e818-4a33-be5f-9e5f209ee76b%2F32154099.jpg?table=block&id=9a6b1aa9-de45-43b4-9361-4d0e1280c2e4&spaceId=83c75a39-3aba-4ba4-a792-7aefe4b07895&width=290&userId=&cache=v2"
                                                                               alt="img back"/></a></div>
                <p align="center" class="font-white text-size"> 전진영 </p>
            </div>
        </div>
    </div>
</div>
<div class="height150"></div>
<div class="row1" style="z-index: 1">
    <div class="left">
        <div class="container-box2">
            <div class="container">
                <div class="item front"><a href="/dongwoo">
                    <img width="100%"
                         src="https://avatars.githubusercontent.com/u/68724828?v=4"
                         alt="img front"/></a></div>
                <div class="item back"><a href="/dongwoo">
                    <img width="100%"
                         src="https://velog.velcdn.com/images/kimphysicsman/post/37e0b81f-7945-4ad3-b719-7c1b87076d83/image.jpg"
                         alt="img back"/></a></div>
            </div>
        </div>
    </div>
    <div class="right person-info font-white">
        <p class="sub_title" id="my-info" style="color: gray;">팀 정 보</p>
        <p>팀 이름 : <span style="color: green">꾸러기</span> <span class="red">9조대</span></p>
        <p>안녕하세요! 저희는 내일배움캠프 AI 9조 <span style="color: green">꾸러기</span> <span class="red">9조대</span>
            입니다! 개발이 아직 많이 서툴지만 팀원들과 서로 으쌰으쌰하며 열심히 배우고 있어요! 우리 함께 좋은 개발자가 되어봅시다!</p>
    </div>
    <div class="width10"></div>
</div>
</div>

<div style="height: 80px"></div>

<div class="row1" style="z-index: 1">
    <div class="left person-info font-white">
        <p class="sub_title" id="my-info" style="color: gray;">우리팀 특징</p>
        <p>- <span style="color: brown">힘순찐</span>이란 우리 팀을 위한 말?!</p>
        <p class="text-size-20">다들 조용한 듯 보이지만 사실 이건 겉모습일뿐!
            이야기를 하다보면 각자의 아이디어와 스킬들이 넘쳐난답니다. 서로의 능력을 조합해서
            잘하는 것들은 더 증대시키고, 모자란 점은 서로서로 보완해주는 여기가 어디?
            바로 <span style="color: green">꾸러기</span> <span class="red">9조대</span>!
            </p>
    </div>
    <div class="width10"></div>
    <div class="right">
        <div class="container-box2">
            <div class="container">
                <div class="item front"><a href="/dongwoo">
                    <img width="60%" style="margin-left: 80px"
                         src="https://teamsparta.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fa39bbc1b-a750-4b0c-b4db-8a03b190bc07%2F%ED%9E%88%EB%8F%99%EC%9D%B4%EC%82%AC%EC%A7%84.jpg?table=block&id=b8679576-3505-4db5-b450-edffbec171d9&spaceId=83c75a39-3aba-4ba4-a792-7aefe4b07895&width=1780&userId=&cache=v2"
                         alt="img front"/></a></div>
                <div class="item back"><a href="/dongwoo">
                    <img width="60%" style="margin-left: 80px"
                         src="https://teamsparta.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fa39bbc1b-a750-4b0c-b4db-8a03b190bc07%2F%ED%9E%88%EB%8F%99%EC%9D%B4%EC%82%AC%EC%A7%84.jpg?table=block&id=b8679576-3505-4db5-b450-edffbec171d9&spaceId=83c75a39-3aba-4ba4-a792-7aefe4b07895&width=1780&userId=&cache=v2"
                         alt="img back"/></a></div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row1" style="z-index: 1">
    <div class="right">
        <div class="container-box2">
            <div class="container">
                <div class="item front"><a href="/dongwoo">
                    <img width="95%"
                         src="https://teamsparta.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Faab293e5-e818-4a33-be5f-9e5f209ee76b%2F32154099.jpg?table=block&id=9a6b1aa9-de45-43b4-9361-4d0e1280c2e4&spaceId=83c75a39-3aba-4ba4-a792-7aefe4b07895&width=290&userId=&cache=v2"
                         alt="img front"/></a></div>
                <div class="item back"><a href="/dongwoo">
                    <img width="95%"
                         src="https://teamsparta.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Faab293e5-e818-4a33-be5f-9e5f209ee76b%2F32154099.jpg?table=block&id=9a6b1aa9-de45-43b4-9361-4d0e1280c2e4&spaceId=83c75a39-3aba-4ba4-a792-7aefe4b07895&width=290&userId=&cache=v2"
                         alt="img back"/></a></div>
            </div>
        </div>
    </div>
    <div class="width10"></div>
    <div class="left person-info font-white">
        <p class="sub_title" id="my-info" style="color: gray;">우리 팀의 목표</p>
        <p>1. <span style="color: crimson">좋은 개발자</span>가 되자!</p>
        <p class="text-size-20"> 좋은 개발자란? </p>
        <p class="text-size-20"> 자기주도적이고 지속적으로 성장가능한 개발자! </p>
        <p>2. 다양한 사람들과 협업할 수 있는 능력을 기르자!</p>
        <p class="text-size-20"> 의사소통과 <span style="color: darkorange">협업</span>은 개발자에 필수 능력! </p>
    </div>
</div>

<div style="height: 120px"></div>
<div class="row1" style="z-index: 1">


    <div class="left person-info font-white">
        <p class="sub_title" id="my-info" style="color: gray;">우리 팀의 약속</p>
        <p class="text-size">(절 대 적) (궁 서 체)</p>
        <p class="text-size"><span class="sub_title" style="color: red">밥 시 간</span>은 철저히 지키자!!!</p>
    </div>
    <div class="width10"></div>
    <div class="right">
        <div class="container-box2">
            <div class="container">
                <div class="item front"><a href="/dongwoo">
                    <img width="100%"
                         src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F0cb3499b-cf0d-42a2-9a8d-12e508961406%2FKakaoTalk_20220418_160240348.jpg?table=block&id=aba2c27f-31cf-45a0-83d4-16b2bdee649f&spaceId=83c75a39-3aba-4ba4-a792-7aefe4b07895&width=2000&userId=34873ddc-da24-4de9-a671-204842864bd3&cache=v2"
                         alt="img front"/></a></div>
                <div class="item back"><a href="/dongwoo">
                    <img width="100%"
                         src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F0cb3499b-cf0d-42a2-9a8d-12e508961406%2FKakaoTalk_20220418_160240348.jpg?table=block&id=aba2c27f-31cf-45a0-83d4-16b2bdee649f&spaceId=83c75a39-3aba-4ba4-a792-7aefe4b07895&width=2000&userId=34873ddc-da24-4de9-a671-204842864bd3&cache=v2"
                         alt="img back"/></a></div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>