<!DOCTYPE html>
<html lang="en">
<head>
    <title>꾸러기 9조대</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet"
          href="https://codex.nflxext.com/%5E3.0.0/truthBundle/webui/1.22.5-shakti-css-vc3b8d889/css/css/less%7Cpages%7CakiraClient.less/1/a90rou4tskn5eq/none/true/none">
    <link type="text/css" rel="stylesheet"
          href="https://codex.nflxext.com/%5E3.0.0/truthBundle/webui/1.22.5-shakti-css-vc3b8d889/css/css/less%7Ccommon%7CkoreanLineBreak.less/1/a90rou4tskn5eq/none/true/none">

    <!--아랫줄은 파비콘 추가!-->
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Kijkwijzer_9.svg/1200px-Kijkwijzer_9.svg.png">

    <!--밑에 3줄은 폰트!-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">

    <style>
        *{
            font-family: 'Single Day', DXKorea Inc;
        }
    </style>

</head>

<body>
<div id="appMountPoint">
    <div class="netflix-sans-font-loaded">
        <div dir="ltr" class="extended-diacritics-language">
            <div>
                <div class="bd dark-background" lang="en">
                    <div class="profiles-gate-container">
                        <div class="centered-div list-profiles-container">
                            <div class="list-profiles"><h1 class="profile-gate-label">저희는 꾸러기 9조대 입니다</h1>
                                <ul class="choose-profile">
                                    <li class="profile">
                                        <div><a class="profile-link">
                                            <div class="avatar-wrapper">
                                                <div class="profile-icon"
                                                     style="background-image:url(https://cdn-icons-png.flaticon.com/512/5578/5578817.png)"></div>
                                            </div>
                                            <span class="profile-name">김동우</span></a>
                                            <div class="profile-children"></div>
                                        </div>
                                    </li>
                                    <li class="profile">
                                        <div><a class="profile-link">
                                            <div class="avatar-wrapper">
                                                <div class="profile-icon"                                                    style="background-image:url(https://cdn-icons-png.flaticon.com/512/5578/5578817.png)"></div>
                                            </div>
                                            <span class="profile-name">전진영</span></a>
                                            <div class="profile-children"></div>
                                        </div>
                                    </li>
                                    <li class="profile">
                                        <div><a class="profile-link">
                                            <div class="avatar-wrapper">
                                                <div class="profile-icon"
                                                     style="background-image:url(https://cdn-icons-png.flaticon.com/512/5578/5578817.png)"></div>
                                            </div>
                                            <span class="profile-name">김희정</span></a>
                                            <div class="profile-children"></div>
                                        </div>
                                    </li>
                                    <li class="profile">
                                        <div><a class="profile-link">
                                            <div class="avatar-wrapper">
                                                <div class="profile-icon"
                                                     style="background-image:url(https://cdn-icons-png.flaticon.com/512/5578/5578817.png)"></div>
                                            </div>
                                            <span class="profile-name">원송희</span></a>
                                            <div class="profile-children"></div>
                                        </div>
                                    </li>

</body>
</html>
